@font-face {
	font-family: "Lato";
	src: url(../fonts/Lato-Regular.woff2) format("woff2"), url(../fonts/Lato-Regular.woff) format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url(../fonts/Lato-Bold.woff2) format("woff2"), url(../fonts/Lato-Bold.woff) format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url(../fonts/Lato-Black.woff2) format("woff2"), url(../fonts/Lato-Black.woff) format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

body {
	font-family: "Lato";
	font-weight: 400;
}

.wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100%;
	background: url("../img/more.jpeg") 0 0 / cover no-repeat fixed;
}

[class*="__container"] {
   max-width: 1230px;
	margin: 0 auto;
}

.body__picture {
	display: flex;
}

.body__image {
	max-width: 100%;
}
